*, *::before, *::after {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background: linear-gradient(to right, lightblue, darkblue);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

form {
    
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px black solid;
    margin: 0 10%;
    font-weight: bold;
}

li {
    background-color: grey;
    height: 20px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 30px;
    list-style: none;
    border-radius: 5px;

}

.row {
    background: palegreen;
    width: 90%;
    height: 10%;
    margin: 5px;
    padding: 3px;
    
}

.box {
    background: orange;
    width: 16%;
    height: 80%;
    margin: 10px;
    padding: 3px;
    display: inline-grid;
}

input {
    width: 100%;
}

.list {
    text-align: center;
    padding-top: 10px;
}

.mainContainer {
    display: flex;
    margin: 5px;
}

.formContainer {
    background-color: blue;
    width: 25%;
    height: 90vh;    
}

.rightContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.currentWeather {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 70vw;
    height: 40vh;
    border: 2px solid black;
    margin: 20px;
}
.forecastContainer {
    background-color: red;
    width: 70vw;
    height: 40vh;
    margin: 20px;
}

.currentTown {
    display: flex;
    height: 50px;
    align-items: center;
}